<!doctype html>

<html>
<head>
    <title>CSE170 Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/retailer/confirmation.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="options">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/../support">Support</a></li>
                <li><a href="/../paymentinfo">Payment Information</a></li>
                <li><a href="/../settings">Settings</a></li>
                <li role="separator" class="divider"></li>
                <a href="/" class="btn btn-danger navbar-btn" id="btn-logout">Logout</a>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
<div class="container">
        <h1>Offer Approved!</h1>
        <div id="panel-row" class="row">
            <div class="panel panel-default">
                <div class="panel-heading title-box">Order Details</div>

                <table class="table">
                    <tbody>
                    <tr>
                        <td>Owner: </td>
                        <td id="quantity-box">{{owner}}</td>
                    </tr>
                    <tr>
                        <td>Restaurant: </td>
                        <td id="price-box">{{name}}</td>
                    </tr>
                    <tr>
                        <td>Product: </td>
                        <td id="total-box">{{offer}}</td>
                    </tr>
                    <tr>
                        <td>Price: </td>
                        <td id="total-box">{{price-per-unit}}</td>
                    </tr>
                    <tr>
                        <td>Quantity: </td>
                        <td id="total-box">{{quantity}}</td>
                    </tr>
                    <tr>
                        <td>Profit Organization: </td>
                        <td id="total-box">{{profitOrg}}</td>
                    </tr>
                    {{#if donationOrg}}
                        <tr>
                            <td>Charity Organization: </td>
                            <td id="total-box">{{donationOrg}}</td>
                        </tr>
                    {{else}}
                        <tr>
                            <td>Charity Organization: </td>
                            <td id="total-box">None</td>
                        </tr>
                    {{/if}}
                    {{#if feature}}
                        <tr>
                            <td>Featured Item: </td>
                            <td id="total-box">Yes</td>
                        </tr>
                    {{else}}
                        <tr>
                            <td>Featured Item: </td>
                            <td id="total-box">No</td>
                        </tr>
                    {{/if}}
                    </tbody>
                </table>
            </div>
        </div>

        <a type="button" id="customer" href="info" class="btn btn-info btn-block">Offer Metrics</a>

</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-87196704-1', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>