<!doctype html>

<html>
<head>
    <title>Food Description</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/customer/deal.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/../support">Support</a></li>
                <li><a href="/../paymentinfo">Payment Information</a></li>
                <li><a href="/../settings">Settings</a></li>
                <li role="separator" class="divider"></li>
                <a href="/" class="btn btn-danger navbar-btn" id="btn-logout">Logout</a>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="address-box">9777 Genessee Avenue</h3>
            <hr/>
        </div>
        <div class="col-xs-12">
            <img id="img-box" class="img-responsive" alt="Image not found" src="{{local-img}}" />
            <hr/>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-4">
                <p class="form-text-right">Company: </p>
            </div>
            <div class="col-xs-4">
                <p id="company-box" class="form-text-left">{{name}}</p>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-4">
                <p class="form-text-right">Offer: </p>
            </div>
            <div class="col-xs-4">
                <p id="offer-box" class="form-text-left">{{offer}}</p>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-4">
                <p class="form-text-right">Price: </p>
            </div>
            <div class="col-xs-4">
                <p id="price-box" class="form-text-left">{{price-per-unit}}</p>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-4">
                <p class="form-text-right">Wait Time: </p>
            </div>
            <div class="col-xs-4">
                <p id="wait-time-box" class="form-text-left">{{wait-time}}</p>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-4">
                <p class="form-text-right">Quantity:</p>
            </div>
            <div class="col-xs-8">
                <select class="form-control" id="quantity-box">{{quantity}}</select>
            </div>
        </div>

        <div class="col-xs-12">
            <button type="button" class="btn btn-info navbar-btn" id="btn-add-to-cart">Next</button>
        </div>

    </div>
</div>

<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/customer/deal.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-87196704-1', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>
