<!doctype html>
<html>
<head>
    <title>CSE170 Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/customer/home.css" rel="stylesheet">


</head>

<body>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">FoodAid</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/../support">Support</a></li>
                <li><a href="/../paymentinfo">Payment Information</a></li>
                <li><a href="/../settings">Settings</a></li>
                <li role="separator" class="divider"></li>
                <a href="/" class="btn btn-danger navbar-btn" id="btn-logout">Logout</a>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>

<div class="container">
    <div id="offers" class="row">
        <div class="col-xs-12">
            <ul class="nav nav-pills nav-justified">
                <li role="presentation" class="active"><a class="sort" data-sort="wait-time">Wait-time</a></li>
                <li role="presentation"><a class="sort" data-sort="company-name">Name</a></li>
                <li role="presentation"><a class="sort" data-sort="company-offer">Offer</a></li>
            </ul>
        </div>
        <div class="col-xs-12">
            <input type="text" class="form-control search" placeholder="Search" />
        </div>
        <ul class="list">
            {{#each offers}}
                {{#if feature}}
                    <li>
                        <div class="col-sm-6 col-md-4">
                            <a href={{link}}>
                                <div class="card mid deal feat"
                                     style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url({{local-img}})">
                                    <div class="feature">
                                        <h3>Featured Deal</h3>
                                    </div>
                                    <h2 class="please">{{name}}</h2>
                                    <p><span class="fucking">{{wait-time}}</span> * <span class="work">{{offer}}</span></p>
                                </div>
                            </a>
                        </div>
                    </li>
                {{/if}}
            {{/each}}
            {{#each offers}}
                {{#unless feature}}
                    <li>
                        <div class="col-sm-6 col-md-4">
                            <a href={{link}}>
                                <div class="card mid deal"
                                     style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url({{local-img}})">
                                    <h2 class="company-name">{{name}}</h2>
                                    <p><span class="wait-time">{{wait-time}}</span> * <span class="company-offer">{{offer}}</span></p>
                                </div>
                            </a>
                        </div>
                    </li>
                {{/unless}}
            {{/each}}
        </ul>

    </div>
</div>

<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/customer/home.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.3.0/list.min.js"></script>
<script type="text/javascript">
    var options = {
        valueNames: [ 'company-name', 'wait-time', 'company-offer' ]
    };
    var userList = new List('offers', options);
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-87196704-1', 'auto');
    ga('send', 'pageview');


</script>


</body>

</html>